.div_build_bar_menu_cont.legion {
    border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img_build_bar_menu_bground.png) 35 35 23 35 fill;
}
.legion .div_build_bar_page{   
    border-left: 1px solid #970000;
    border-top: 1px solid #970000;
    box-shadow: 0px 0px 50px rgba(158, 0, 0, 0.5);
}

.legion .div_build_item {
    border-right-color:#970000;
    border-bottom-color:#970000;
}
.legion .span_build_bar_tab {
    color: #FF0000;
    text-shadow: 0px 0px 30px #FF0000;
    border-right-color:#333;
    border-left-color:#333;
    border-bottom-color:#444;
    background: #1D1D1D;
}