.legion .div_build_bar_menu_cont {
    border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img_build_bar_menu_bground_legion.png) 35 35 23 35 fill !important;
}
.legion .div_build_bar_page{   
    border-left: 1px solid #970000;
    border-top: 1px solid #970000;
    box-shadow: 0px 0px 50px rgba(158, 0, 0, 0.5);
}

.legion .div_build_item {
    border-right-color:#970000;
    border-bottom-color:#970000;
}

.legion .div_build_item:hover {
    background: rgba(255,0,0,0.8);
    border:1px solid rgba(158, 0, 0, 0.5) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.8) !important;
}

.legion .span_build_bar_tab {
    color: #FF0000;
    text-shadow: 0px 0px 30px #FF0000;
    border-right-color:#333;
    border-left-color:#333;
    border-bottom-color:#444;
    background: #1D1D1D;
}

.mixed .div_build_bar_menu_cont {
    border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img_build_bar_menu_bground_mixed.png) 35 35 23 35 fill !important;
}
.mixed .div_build_bar_page{   
    border-left: 1px solid #660066;
    border-top: 1px solid #660066;
    box-shadow: 0px 0px 50px rgba(99, 14, 138, 0.5);
}

.mixed .div_build_item {
    border-right-color:#660066;
    border-bottom-color:#660066;
}
.mixed .span_build_bar_tab {
    color: #660099;
    text-shadow: 0px 0px 30px #660099;
    border-right-color:#333;
    border-left-color:#333;
    border-bottom-color:#444;
    background: #1D1D1D;
}