.legionui .div_player_list_cont {
    border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img-menu-bground-left-legionui.png) 17 47 47 17 fill !important;
}
.legionui .btn_player_known {
    background:rgba(70, 0, 0, 1) !important;
    border: 1px solid rgba(255, 0, 0, 1) !important;
    box-shadow: inset 0px 0px 8px rgba(255, 18, 18, 0.5) !important;
}

    .legionui .btn_player_known:hover {
        border: 1px solid rgba(160,0,0,0.8) !important;
        background: rgba(160,0,0,0.8) !important;
    }

    .legionui .btn_player_known:active {
        border: 1px solid rgba(255,0,0,0.8) !important;
        background: rgba(255,0,0,0.8) !important;
    }

.legionui .list_control_btn:hover {
        background: #970000;
        border: 1px solid #970000;
        box-shadow: inset 0px 0px 10px #970000;
    }

    .legionui .list_control_btn:active {
        background: #900000;
        border: 1px solid #900000;
        box-shadow: inset 0px 0px 10px #900000;
    }

.mixedui .div_player_list_cont {
    border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img-menu-bground-left-mixed.png) 17 47 47 17 fill !important;
}

.mixedui .btn_player_known {
    background:rgba(70, 0, 0, 1) !important;
    border: 1px solid rgba(255, 0, 0, 1) !important;
    box-shadow: inset 0px 0px 8px rgba(255, 18, 18, 0.5) !important;
}

    .mixedui .btn_player_known:hover {
        border: 1px solid rgba(160,0,0,0.8) !important;
        background: rgba(160,0,0,0.8) !important;
    }

    .mixedui .btn_player_known:active {
        border: 1px solid rgba(255,0,0,0.8) !important;
        background: rgba(255,0,0,0.8) !important;
    }

.mixedui .list_control_btn:hover {
        background: #970000;
        border: 1px solid #970000;
        box-shadow: inset 0px 0px 10px #970000;
    }

    .mixedui .list_control_btn:active {
        background: #900000;
        border: 1px solid #900000;
        box-shadow: inset 0px 0px 10px #900000;
    }