.legionui .div_group_select .bground {
    border: 1px solid #970000;
    box-shadow: 0px 0px 10px rgba(158, 0, 0, 0.5);
    background: linear-gradient(to top, #000 0%, #970000 100%);
}


.mixedui .div_planet_list_cont {
    border: 1px solid #660066;
    box-shadow: 0px 0px 10px rgba(99, 14, 138, 0.5);
    background: linear-gradient(to top, #000 0%, #660066 100%);
}