.body_panel {
    /* This works around an issue that is causing severe performance problems - KEF - 06.09.2014 */
    min-height: 1px;
    min-width: 1px;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* UTILITY */
.receiveMouse {
    pointer-events: all;
}

.ignoreMouse {
    pointer-events: none;
}

/*----- Build Bar
-----------------------------------------------------------------*/

.div_build_bar_menu_cont {
    height: auto;
    min-width: 600px;
    display:block;
    margin: -2px 39px -20px;
    background: none;
    border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img_build_bar_menu_bground.png) 35 35 23 35 fill;
    border-width: 35px 35px 23px 35px;
    z-index: 2;
    text-align: center;
}

.div_build_bar_menu_tabs {
    margin: -14px -24px -10px -24px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    position: relative;
    z-index: 2;
    justify-content: center;
}

.div_build_bar_page {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.34);
    border-top: 1px solid rgba(255, 255, 255, 0.34);
    margin: 0 10px;
    padding: 0 0 1px 0;
    box-shadow: 0px 0px 30px rgba(122,30,0,0.6);
}

.div_long_build_bar_page {
     width: 369px;
}

.div_short_build_bar_page {
     width: 308px;
}

    .div_build_bar_page > div {
        flex-shrink: 0;
        flex-grow: 0;
    }

.div_build_item {
    height: 62px;
    width: 62px;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.34);
    border-bottom: 1px solid rgba(255, 255, 255, 0.34);
    margin: 0px -1px -1px 0px;
    display: block;
    flex-shrink: 0;
    position: relative;
    -webkit-animation: fadeout;
    -webkit-transition: .3s ease-out;
    /*z-index: -1;*/
}

        .div_build_item:hover {
            background: rgba(255, 0, 0, 0.65);
            border: 1px solid #FF9191;
            box-shadow: inset 0px 0px 20px #FF9191;
            z-index: 1000;
            -webkit-animation: none;
            -webkit-transition: none;
        }

        .div_build_item:active {
            background: rgba(255, 0, 0, 0.9);
            border: 1px solid #FF9191;
            box-shadow: 0px 0px 30px #FF9191;
        }

.div_build_item.active {
    background: rgba(255, 0, 0, 0.9);
    border-right: 1px solid #FF9191;
    border-bottom: 1px solid #FF9191;
    z-index: 1;
    box-shadow: 0px 0px 30px #FF9191;
}


.img_build_unit {
    height: 60px;
    width: 60px;
    display:block;
    margin: 0px auto;
}

.span_build_count {
    position: absolute;
    bottom: 4px;
    left: 4px;
    background: #00b300;
    padding: 0px 2px;
    border-radius: 0px;
    font-family: 'Trebuchet MS';
    font-size: 13px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    border: 1px solid #00FF00;
    box-shadow: 0px 0px 20px #00ff00;
}

.div_build_bar_tab_cont {
    width: auto;
    text-align: center;
    position: relative;
    margin: 0px 0px -13px 0px;
    z-index: 0;
}

    .div_build_bar_tab_cont .tab_grp {
        width:100%;
        display:inline-block;
        /*padding: 0 47px;*/
        display: flex;
        flex-grow: 0;
        justify-content: space-around;
        margin:-3px 0px 0px 0px;
    }

    .div_build_bar_tab_background {
        height: 56px;
        border-image: url(coui://ui/main/shared/img/build_bar/img_build_bar_bground_30.png) 19 45 19 45 fill;
        border-width: 19px 45px 19px 45px;
    }

    .div_build_bar_tab_background_inner {
        height:28px;
        border-image: url(coui://ui/main/shared/img/build_bar/img_build_bar_tab_bground_28.png) 4 29 4 29 fill;
        border-width: 4px 29px 4px 29px;
        margin: -6px auto 0px;
    }
    
    .div_build_bar_tab_cont .tab_grp_body {
        display: flex;
        background: none;
        padding: 0;
        margin: 0;
    }

.div_build_bar_tab_cont .span_hotkey {
    display: inline-block;
    position: relative;
    float: left;
    margin: 2px;
    top:auto;
    left:auto;
}

.span_build_bar_tab {
    background: none;
    font-size: 14px;
    color: #FF0000;
    text-shadow: 0px 0px 30px #FF0000;
    font-family: 'Sansation Bold';
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    border-radius: 0px;
    border: 1px solid transparent;
    border-right-color:#333;
    border-left-color:#333;
    border-bottom-color:#444;
    background: #1D1D1D;
    -webkit-animation: fadeout;
    -webkit-transition: .3s ease-out;
    display: block;
    width: 180px;
    position: relative;
}

.span_build_bar_tab:hover {
    background: #1E7AA1;
    border: 1px solid #00B3FF;
    box-shadow: inset 0px 0px 10px #00B3FF;
    color: white;
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
    -webkit-animation: none;
    -webkit-transition: none;
}

.span_build_bar_tab:active {
    background: #00B3FF;
    border: 1px solid #00B3FF;
    box-shadow: 0px 0px 30px #00B3FF;
    color: white;
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
}

.selected_build_tab:active {
    background: #00B3FF;
    border: 1px solid #00B3FF;
    box-shadow: 0px 0px 30px #00B3FF;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
}


.selected_build_tab {
    background: #00B3FF;
    border: 1px solid #00B3FF;
    box-shadow: 0px 0px 30px #00B3FF;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
}


.span_build_bar_tab_active {
    background: #00B3FF;
    border: 1px solid #00B3FF;
    box-shadow: 0px 0px 30px #00B3FF;
    color: white;
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
}


.active_build_tab {
    border: 1px solid #00b3ff;
    box-shadow: 0px 0px 20px rgba(0,179,255,.8);
    margin-bottom: -1px;
}

.inactive_build_tab .span_hotkey {
    display: none;
}

.span_build_bar_tab_label {
    display:block;
    margin: 6px 0px 4px;
}
