.body_panel {
    width: 307px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

body-dock {
    padding: 10px 6px;
}

.div_selection_cont {
    border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img_build_bar_menu_bground.png) 35 35 23 35 fill;
    border-width: 35px 35px 23px 35px;
    margin: 0px 0px -17px -35px;
}

    .div_selection_cont .wrapper {
        display: flex;
        flex-direction: column;
        margin: -12px -11px 0px 0px;
        box-shadow: 0px 0px 50px rgba(122,30,0,.5);
        border: 1px solid #6F0000;
    }

.summary_bar {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #002A3D;
    padding: 4px 4px 0px 0px;
}

    .summary_bar .unit_total {
        font-family: "Sansation Bold";
        font-size: 16px;
        line-height: 1;
        color: #FFF;
        text-shadow: 0px 0px 10px #00B3FF;
        display: flex;
        align-items: center;
        padding: 0px 8px;
        flex-shrink: 0;
    }

.summary_selectors_cont {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.summary_category {
    font-size: 11px;
    margin: 0px 4px 4px 0px;
    padding: 4px;
    border: 1px solid rgba(0,179,255,.2);
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

    .summary_category .icon {
        height: 10px;
        width: 14px;
        margin: 0px 4px 0px 0px;
    }

    .summary_category .value {
    }


.div_unit_list {
    flex-grow: 1;
    max-height: 222px;
    min-width: 78px;
    max-width: 232px;
    padding: 6px 0px 0px 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
}

    .div_unit_list .buffer {
        height: 20px;
        width: 100%;
    }

/* UTILITY */
.receiveMouse {
    pointer-events: all;
}

.ignoreMouse {
    pointer-events: none;
}

/*----- SELECTION BAR
-----------------------------------------------------------------*/

.div_current_selection_cont {
    height: auto;
    width: auto;
}

.div_unit_selection {
    height: 64px;
    width: 64px;
    border: 1px solid rgba(255, 0, 0, 1);
    border-radius: 0px;
    margin: 0px 6px 6px 0px;
    position: relative;
    background: rgba(70, 0, 0, 1);
    box-shadow: inset 0px 0px 8px rgba(255, 18, 18, 0.5);
    flex-shrink: 0;
}

    .div_unit_selection:hover {
        border: 1px solid rgba(160,0,0,0.8);
        background: rgba(160,0,0,0.8);
    }

    .div_unit_selection:active {
        border: 1px solid rgba(255,0,0,0.8);
        background: rgba(255,0,0,0.8);
    }

.img_selected_unit {
    height: 60px;
    width: 60px;
    margin: 0px;
}

.span_selection_group {
    z-index: 1;
    position: absolute;
    top: -1px;
    left: -1px;
}

.span_selection_count {
    padding: 2px;
    font-size: 13px;
    z-index: 1;
    color: #fff;
    background: #FF0000;
    border: 1px solid #FFFFFF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 20px #FF0000;
}

.div_unit_selection .close {
    height: 20px;
    width: 20px;
    float: right;
    margin: 0px 0px 0px 0px;
    background: url(coui://ui/main/shared/img/window_controls/btn_close_10.png) 50% 50% no-repeat rgba(0,0,0,1);
    background-size: 75%;
    position: absolute;
    right: -1px;
    top: -1px;
    border: 1px solid rgba(0,179,255,1);
}

    .div_unit_selection .close:hover {
        background-color: rgba(0,179,255,1);
        border-color: rgba(0,0,0,1);
    }

    .div_unit_selection .close:active {
        background-color: rgba(0,0,0,1);
    }
