.div-commander-picker-item.btn_std_ix.legioncommander {
  color: #FF0000;
  border-color: #FF0000;
}
.slot-player.legionslot {
  text-shadow: 0px 0px 4px #FF0000;
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/ctrl_user.png) 0 17 53 17;
}
.slot-player.legionslot.ready {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/ctrl_user_locked.png) 0 17 53 17;
}
.slot-player.legionslot.loading {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/ctrl_user_locked.png) 0 17 53 17;
}