.legionui .div_group_select .bground {
  border: 1px solid #45484d;
  box-shadow: 0px 0px 10px rgba(158, 0, 0, 0.5);
  background: linear-gradient(top, #45484d 0%, #000000 100%);
}

.legionui .unit_group_menu {
  background: #970000;
  border: 1px solid #970030;
  box-shadow: 0px 0px 20px #000;
}

.legionui .unit_group_menu .item {
  color: rgba(255, 0, 0, 0.8) !important;
  border: 1px solid #970000;
}

.legionui .unit_group_item {
  border: 1px solid rgba(158, 0, 0, 1);
  color: #fff;
  box-shadow: 0px 0px 10px #000;
}

.legionui .unit_group_item.disabled {
  border: 1px solid #2b2b2b;
}

.legionui .unit_group_item .numkey {
  color: #970000;
  text-shadow: none;
  background: black;
  border: 1px solid #4d0000;
}

.unit_group_item .total {
  flex-grow: 1;
  color: #000;
}

.legionui .active {
  background: rgba(130, 0, 0, 1) !important;
  border: 1px solid #910000 !important;
}

.legionui .btn_std_ix:hover {
  box-shadow: inset 0px 0px 10px #970000 !important;
  background: rgba(255, 0, 0, 0.8);
  border: 1px solid rgba(158, 0, 0, 0.5) !important;
}

.legionui .tooltip-inner {
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5) !important;
}

/*TODO MIXEDUI */

.mixedui .div_group_select .bground {
  border: 1px solid #660066;
  box-shadow: 0px 0px 10px rgba(99, 14, 138, 0.5);
  background: linear-gradient(top, #45484d 0%, #000000 100%);
}

.mixedui .unit_group_menu {
  background: #660066;
  border: 1px solid #663399;
  box-shadow: 0px 0px 20px #000;
}

.mixedui .unit_group_menu .item {
  color: #663399 !important;
  border: 1px solid #660066;
}

.mixedui .unit_group_item {
  border: 1px solid #660066;
  color: #fff;
  box-shadow: 0px 0px 10px #000;
}

.mixedui .unit_group_item.disabled {
  border: 1px solid #2b2b2b;
}

.mixedui .unit_group_item .numkey {
  color: #660066;
  background: black;
  text-shadow: none;
  border: 1px solid #660066;
}

.unit_group_item .total {
  flex-grow: 1;
  color: #000;
}

.mixedui .active {
  background: rgba(99, 14, 138, 0.5) !important;
  border: 1px solid #660066 !important;
}

.mixedui .btn_std_ix:hover {
  box-shadow: inset 0px 0px 10px #660066 !important;
  background: #663399;
  background: #660066;
  border: 1px solid rgba(99, 14, 138, 0.5) !important;
}

.mixedui .tooltip-inner {
  box-shadow: 0px 0px 20px rgba(99, 14, 138, 0.5) !important;
}
