.legionui .div_player_list_cont {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img-menu-bground-left-legionui.png)
    17 47 47 17 fill !important;
}
.legionui .btn_player_known {
  background: rgba(70, 0, 0, 1) !important;
  border: 1px solid rgba(255, 0, 0, 1) !important;
  box-shadow: inset 0px 0px 8px rgba(255, 18, 18, 0.5) !important;
}

.legionui .btn_player_known:hover {
  border: 1px solid rgba(160, 0, 0, 0.8) !important;
  background: rgba(160, 0, 0, 0.8) !important;
}

.legionui .btn_player_known:active {
  border: 1px solid rgba(255, 0, 0, 0.8) !important;
  background: rgba(255, 0, 0, 0.8) !important;
}

.legionui .list_control_btn:hover {
  background: #970000;
  border: 1px solid #970000;
  box-shadow: inset 0px 0px 10px #970000;
}

.legionui .list_control_btn:active {
  background: #900000;
  border: 1px solid #900000;
  box-shadow: inset 0px 0px 10px #900000;
}

.legionui .tooltip-inner {
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5) !important;
}

.mixedui .div_player_list_cont {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img-menu-bground-left-mixed.png)
    17 47 47 17 fill !important;
}

.mixedui .btn_player_known {
  background: rgba(99, 14, 138, 0.5) !important;
  border: 1px solid #663399 !important;
  box-shadow: inset 0px 0px 8px rgba(99, 14, 138, 0.5) !important;
}

.mixedui .btn_player_known:hover {
  border: 1px solid rgba(99, 14, 138, 0.5) !important;
  background: rgba(99, 14, 138, 0.5) !important;
}

.mixedui .btn_player_known:active {
  border: 1px solid #663399 !important;
  background: #663399 !important;
}

.mixedui .list_control_btn:hover {
  background: rgba(99, 14, 138, 0.5);
  border: 1px solid rgba(99, 14, 138, 0.5);
  box-shadow: inset 0px 0px 10px rgba(99, 14, 138, 0.5);
}

.mixedui .list_control_btn:active {
  background: #663399;
  border: 1px solid #663399;
  box-shadow: inset 0px 0px 10px #663399;
}

.mixedui .tooltip-inner {
  box-shadow: 0px 0px 20px rgba(99, 14, 138, 0.5) !important;
}

.player_masked.legcom {
  -webkit-mask-image: url("coui://ui/mods/com.pa.legion-expansion/img/icon_player_fill_l.png") !important;
}

.player_masked.mixcom {
  -webkit-mask-image: url("coui://ui/mods/com.pa.legion-expansion/img/icon_player_fill_m.png") !important;
}
