.legion .section_title {
    height: 60px;
    text-align: left;
    border-bottom: 20px solid rgba(0,0,0,0.15);
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.legion .section_content_top_bar {
    min-height: 20px;
    width: 100%;
    background: rgba(0,0,0,0.35);
    box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}

.legion .content_titans_badge {
    height: 0%
}

.legion .section_content_table {
    box-shadow: inset 0px 0px 20px rgba(100, 100, 0, 0);
}

.legion .btn_std {
    border-image: url(coui://ui/main/shared/img/buttons/btn_lrg_red.png) 10 21 21 21 fill;
}

.legion .btn_std:hover {
    border-width: 10px 21px 21px 21px;
    border-image: url(coui://ui/main/shared/img/buttons/btn_lrg_red_hover.png) 10 21 21 21 fill;
}

.btn_std:active {
    border-width: 10px 21px 21px 21px;
    border-image: url(coui://ui/main/shared/img/buttons/btn_lrg_red_active.png) 10 21 21 21 fill;
    box-shadow: inset 500px 500px 500px 500px #000;
}

.legion .dropdown-menu {
    background: rgba(70, 0, 0, 1) !important;
    border: 1px solid rgba(255, 0, 0, 0.2) !important;
}

.legion .dropdown-menu > li > a:hover {
    background: rgba(255, 0, 0, 0.8) !important;
    border:1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.2) !important;
}

.legion .dropdown-menu > li > a:focus {
    background: rgba(255, 0, 0, 0.8) !important;
    border:1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.2) !important;
}

.legion .section_content {
    background: rgba(10,0,0,0.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(255,180,180,.15);
    border-top: 1px solid rgba(255,180,180,.15);
}

.legion .div_commit_cont {
    background: rgba(0,0,0,0.45);
    border-top: 14px solid rgba(0,0,0,.3);
    box-shadow: 0px 10px 30px rgba(30, 0, 0, 0.8);
}

.legion .div_data_table {
    background: rgba(60, 0, 0, 1);
    border: 1px solid rgba(255, 0, 0, 0.25);
    box-shadow: inset 0px 0px 50px rgba(130, 0, 0, 0.2);
}

.legion #game-list-header > div {
    border-bottom: 1px solid rgba(255, 0, 0, 0.45);
    border-right: 1px solid rgba(255, 0, 0, 0.45);
}

.legion .div_data_table .table_glow {
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.6);
}

