.legion .section_title {
    border-bottom: 20px solid rgba(50,0,0,0.1);
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.2);
}

.legion .section_content_top_bar {
    background: rgba(0,0,0,0.2);
    box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.25);
}

.legion .section_content_table {
    box-shadow: inset 0px 0px 20px rgba(100, 100, 0, 0);
}

.legion .btn_std {
    border-image: url(coui://ui/mods/com.pa.legion-expansion/img/btn_lrg_red.png) 10 21 21 21 fill;
}

.legion .btn_std:hover {
    border-image: url(coui://ui/mods/com.pa.legion-expansion/img/btn_lrg_red_hover.png) 10 21 21 21 fill;
}

.legion .btn_std:active {
    border-image: url(coui://ui/mods/com.pa.legion-expansion/img/btn_lrg_red_active.png) 10 21 21 21 fill;
    box-shadow: inset 500px 500px 500px 500px #000;
}

.legion .dropdown-menu .text {
    text-shadow: 0px 0px 15px rgba(255,0,0,.5) !important; 
}

.legion .dropdown-menu {
    background: rgba(70, 0, 0, 1) !important;
    border: 1px solid rgba(255, 0, 0, 0.2) !important;
}

.legion .dropdown-menu > li > a:hover {
    background: rgba(255, 0, 0, 0.8) !important;
    border:1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.2) !important;
}

.legion .dropdown-menu > li > a:focus {
    background: rgba(255, 0, 0, 0.8) !important;
    border:1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.2) !important;
}

.legion .section_content {
    background: rgba(10,0,0,0.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(255,140,140,.15);
    border-top: 1px solid rgba(255,140,140,.15);
}

.legion .div_commit_cont {
    background: rgba(0,0,0,0.45);
    border-top: 14px solid rgba(0,0,0,.3);
    box-shadow: 0px 10px 30px rgba(30, 0, 0, 0.8);
}

.legion .div_data_table {
    background: rgba(50, 0, 0, 1);
    border: 1px solid rgba(255, 0, 0, 0.25);
    box-shadow: inset 0px 0px 50px rgba(130, 0, 0, 0.2);
}

.legion #game-list-header > div {
    border-bottom: 1px solid rgba(255, 0, 0, 0.45);
    border-right: 1px solid rgba(255, 0, 0, 0.45);
    text-shadow: 0px 0px 20px rgba(200,0,0,0.8);
    box-shadow: inset 0px 0px 20px rgba(255, 0, 0, 0.2);
}

.legion .ui-selected {
    background: rgba(255,0,0,0.8) !important;
    border:1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.2) !important;
}

.legion .div_data_table .table_glow {
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.6);
}

.legion #detail-pane h3 {
    text-shadow: 0px 0px 15px rgba(255,0,0,0.7);
}

.legion #detail-pane .item .text {
    text-shadow: 0px 0px 15px rgba(255,0,0,.5);
}

.legion #detail-pane .item .open {
    text-shadow: 0px 0px 20px rgba(0,200,0,1);
}
    
.legion #detail-pane .item {
    border: 1px solid rgba(255,140,140,.1);
    box-shadow: inset 0px 0px 4px rgba(200,140,140, 0.15);
}