.legion .section_title {
  text-shadow: 0px 0px 20px rgba(200, 0, 0, 0.9) !important;
}

.legion .option-list .tab_cont {
  background: rgba(15, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 140, 140, 0.15);
}

.legion .section_content {
  background: rgba(15, 0, 0, 0.3) !important;
}

.legion .container_settings {
  background: rgba(10, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 20px 20px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
}

.legion .form-control {
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.2);
}

.legion .form-group label,
#detail-pane .col-header {
  color: white;
}

.legion .slider.slider-horizontal {
  background: none;
}

.legion .one-keybind {
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.2);
  background: rgba(50, 0, 0, 0.3);
  border: 1px solid rgba(158, 0, 0, 0.1);
}

.legion .one-keybind label {
  color: white;
}

.legion .one-keybind .close {
  border: 1px solid rgba(255, 200, 200, 0.8);
}

.legion .sub-group-title {
  color: white;
  background: rgba(70, 0, 0, 0.9);
  border: 3px solid rgba(158, 0, 0, 0.2);
}

.legion .nav-pills > li > a {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img_tab_std_rest.png)
    12 12 8 11 fill !important;
}

.legion .nav-pills > li > a:hover,
.legion .nav-pills > li.active > a:hover {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img_tab_std_hover.png)
    12 12 8 11 fill !important;
}

.legion .nav-pills > li.active > a,
.legion .nav-pills > li.active > a:focus {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/img_tab_std_active.png)
    12 12 8 11 fill !important;
}
