/* top nav bar */
.legion
  .top-nav-btn:not(.top-nav-mods):not(.top-nav-primary):not(.top-nav-quit),
.legion .top-nav-sub-btn,
.legion .social-btn {
  background: rgba(70, 0, 0, 1);
  border-color: rgba(255, 0, 0, 0.2);
  box-shadow: inset 0 0 8px rgba(255, 0, 0, 0.1);
  text-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
  color: white;
}

.legion
  .top-nav-btn:not(.top-nav-mods):not(.top-nav-primary):not(
    .top-nav-quit
  ):hover,
.legion
  .top-nav-btn-active:not(.top-nav-mods):not(.top-nav-primary):not(
    .top-nav-quit
  ),
.legion .top-nav-sub-btn:hover,
.legion .social-btn:hover {
  background: rgba(255, 0, 0, 0.7);
}

/* btn_std_ix hover and click accents */
.legion
  .btn_std_ix:not(.top-nav-mods):not(.top-nav-primary):not(
    .top-nav-quit
  ):hover {
  border-color: rgba(255, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.5);
}

.legion
  .btn_std_ix:not(.top-nav-mods):not(.top-nav-primary):not(
    .top-nav-quit
  ):active {
  background: rgba(255, 0, 0, 0.85);
  border-color: rgba(158, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.85);
}

/* button */
.legion button {
  background: rgba(70, 0, 0, 1) !important;
  border: 1px solid rgba(255, 0, 0, 0.2) !important;
  box-shadow: inset 0 0 8px rgba(255, 0, 0, 0.1) !important;
  color: white !important;
}

.legion button:hover {
  background: rgba(255, 0, 0, 0.8) !important;
  border: 1px solid rgba(158, 0, 0, 0.1) !important;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5) !important;
}

/* input boxes */
.legion input[type="text"],
.legion input[type="password"],
.legion input[type="text"]:disabled,
.legion input[type="password"]:disabled,
.legion input[type="number"]:disabled {
  border: 1px solid rgba(255, 0, 0, 0.2);
  background: rgba(70, 0, 0, 1);
  color: white;
  box-shadow: inset 0 0 8px rgba(255, 0, 0, 0.1);
}

/* btn_std */
.legion .btn_std {
  border-image: url("coui://ui/mods/com.pa.legion-expansion/img/btn_lrg_red.png")
    26 21 15 21 fill;
}

.legion .btn_std:hover {
  border-image: url("coui://ui/mods/com.pa.legion-expansion/img/btn_lrg_red_hover.png")
    26 21 15 21 fill;
}

.legion .btn_std:active {
  border-image: url("coui://ui/mods/com.pa.legion-expansion/img/btn_lrg_red_active.png")
    26 21 15 21 fill;
  box-shadow: inset 500px 500px 500px 500px #000;
}

/* tooltips */
.legion .tooltip-inner {
  max-width: 190px !important;
  padding: 6px 8px;
  background-color: rgba(70, 0, 0, 1) !important;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.7) !important;
}
