.legionui .div_time_progress_frame {
  border: 1px solid rgba(255, 0, 0, 1) !important;
}

.legionui .time_progress {
  border: 1px solid rgba(255, 0, 0, 1) !important;
  background: rgba(70, 0, 0, 1) !important;
  box-shadow: 0 0 20px rgba(255, 18, 18, 0.5) !important;
}

.legionui .btn_video_scrubber {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_scrubber_rest.png")
    center center no-repeat !important;
}

.legionui .btn_video_scrubber:hover {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_scrubber_hover.png")
    center center no-repeat !important;
}

.legionui .btn_video_scrubber:active {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_scrubber_active.png")
    center center no-repeat !important;
}

.legionui .div_video_controls_cont {
  border-image: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/img_video_bground.png")
    23 35 35 35 fill !important;
}

.legionui .btn_play_pause_toggle {
  border: 1px solid rgba(70, 0, 0, 0.5) !important;
}

.legionui .btn_play_pause_toggle_pause {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_pause.png")
    top center no-repeat !important;
}

.legionui .btn_play_pause_toggle_play {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_play.png")
    top center no-repeat !important;
}

.legionui .btn_speed_control {
  border: 1px solid rgba(70, 0, 0, 0.5) !important;
}

.legionui .btn_speed_control_back0 {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_back0.png")
    center center no-repeat !important;
}

.legionui .btn_speed_control_back1 {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_back1.png")
    center center no-repeat !important;
}

.legionui .btn_speed_control_back2 {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_back2.png")
    center center no-repeat !important;
}

.legionui .btn_speed_control_fwd0 {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_fwd0.png")
    center center no-repeat !important;
}

.legionui .btn_speed_control_fwd1 {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_fwd1.png")
    center center no-repeat !important;
}

.legionui .btn_speed_control_fwd2 {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_fwd2.png")
    center center no-repeat !important;
}

.legionui .btn_jump_control {
  border: 1px solid rgba(70, 0, 0, 0.5) !important;
  color: rgba(255, 0, 0, 1) !important;
  text-shadow: 0 0 10px rgba(255, 0, 0, 1) !important;
}

.legionui .btn_jump_control_back {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_jump_back.png")
    center left no-repeat !important;
}

.legionui .btn_jump_control_fwd {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/video/red/icon_video_jump_fwd.png")
    center right no-repeat !important;
}

.legionui .btn_std_ix.btn_video_option {
  border: 1px solid rgba(70, 0, 0, 0.5) !important;
  color: rgba(255, 0, 0, 1) !important;
  text-shadow: 0 0 10px rgba(255, 0, 0, 1) !important;
}

.legionui .btn_std_ix:hover {
  background: #970000;
  border: 1px solid #970000;
  box-shadow: inset 0 0 10px #970000;
}

.legionui .btn_std_ix:active {
  background: #900000;
  border: 1px solid #900000;
  box-shadow: inset 0 0 10px #900000;
}
