/*legion theme skin*/
.legion .section_content {
  background: rgba(15, 0, 0, 0.3) !important;
  color: (white);
}

.legion .section_content_table {
  border-image: url("coui://ui/mods/com.pa.legion-expansion/img/img_panel_std.png")
    29 53 53 29 fill;
}

.legion .game_roster {
  border-image: url("coui://ui/mods/com.pa.legion-expansion/img/img_panel_secondary.png")
    33 46 46 33 fill;
}

.legion .section_content .section_header {
  text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
}

.legion .chat_container {
  border: 1px solid rgba(130, 0, 0, 0.4);
}

.legion .section .section_header,
.spectator_section_header {
  border-top: 1px solid rgba(130, 0, 0, 0.35);
  text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5) !important;
}

.legion .div-system-picker {
  background: rgba(60, 0, 0, 1);
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(158, 0, 0, 1);
}

.legion .nav-pills > li > a {
  border: 1px solid rgba(158, 0, 0, 1) !important;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.3) !important;
}

.legion .nav-pills > li > a:hover {
  background: rgba(255, 0, 0, 0.85) !important;
  border: 1px solid rgba(158, 0, 0, 1) !important;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.8) !important;
}

.legion .nav-pills > li.active > a,
.legion .nav-pills > li.active > a:focus {
  background: rgba(255, 0, 0, 0.7) !important;
  border: 1px solid rgba(158, 0, 0, 1) !important;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5) !important;
}

.legion .container_embed.spectator {
  border: 1px solid rgba(158, 0, 0, 0.5);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.8);
  background: rgba(35, 0, 0, 0.8);
  color: white !important;
}

.legion .spectator-item-contents {
  border: 1px solid rgba(158, 0, 0, 0.5);
  background: rgba(70, 0, 0, 1);
  box-shadow: inset 0px 0px 8px rgba(255, 0, 0, 0.4);
}

.legion .spectator-name {
  background: url("coui://ui/mods/com.pa.legion-expansion/img/players_list_panel/red/icon_visibility.png")
    left center no-repeat;
}

.legion .spectator-name.host {
  color: rgb(0, 255, 0);
  text-shadow: 0px 0px 20px rgba(0, 255, 0, 0.8);
}

.legion .mods-class {
  border: 1px solid rgba(158, 0, 0, 0.5);
  box-shadow: inset 0px 0px 15px rgba(15, 0, 0, 0.8);
  background: rgba(70, 0, 0, 1);
}

.legion .army-header {
  text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

.legion .div-commander-picker-item.legioncommander .profile-commander-name {
  border-top: 1px solid rgba(255, 0, 0, 0.3) !important;
}

.legion .div-commander-picker-cont > .dropdown-menu-cont {
  width: 622px !important;
}

.legion .div-color-picker {
  background: rgba(20, 0, 0, 1);
  box-shadow: inset 0px 0px 10px rgba(90, 0, 0, 0.5);
  border: 1px solid rgba(120, 0, 0, 0.6);
}

.legion .div-commander-picker {
  background: rgba(20, 0, 0, 1);
  box-shadow: inset 0px 0px 10px rgba(90, 0, 0, 0.5);
  border: 1px solid rgba(120, 0, 0, 0.6);
  padding: 1px;
}

.legion .div-commander-picker-item {
  background: rgba(0, 50, 70, 0.5) !important;
  border: 1px solid rgba(0, 179, 255, 1) !important;
}

.legion .div-commander-picker-item.btn_std_ix:hover {
  background: rgba(0, 179, 255, 0.75) !important;
  border: 1px solid rgba(0, 179, 255, 0.1) !important;
  box-shadow: 0px 0px 15px rgba(0, 179, 255, 0.8) !important;
}

.legion .div-commander-picker-item.btn_std_ix:active {
  background: rgba(0, 179, 255, 1) !important;
  border: 1px solid rgba(0, 179, 255, 1) !important;
  box-shadow: 0px 0px 30px rgba(0, 179, 255, 1) !important;
}

.legion .div-commander-picker-item.btn_std_ix {
  color: rgb(200, 255, 255) !important;
}

.legion .btn_hero {
  margin: 0px 0px 0px 0px !important;
}

.legion .slot-controls .btn {
  background: none !important;
  box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.5) !important;
  border: 1px solid black !important;
  color: white !important;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.legion .slot-controls .dropdown-menu .text {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2) !important;
}

.legion .slot-controls .dropdown-menu {
  background: rgba(70, 70, 70, 1) !important;
  border: 1px solid #262626 !important;
}

.legion .slot-controls .dropdown-menu > li > a {
  border-top: 1px solid rgba(0, 0, 0, 1) !important;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3) !important;
}

.legion .slot-controls .dropdown-menu > li > a:hover {
  background: rgba(100, 100, 100, 1) !important;
  border: 1px solid rgba(50, 50, 50, 0.5) !important;
  box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.3) !important;
}

.legion .slot-controls .dropdown-menu > li > a:focus {
  background: rgba(120, 120, 120, 1) !important;
  border: 1px solid rgba(50, 50, 50, 0.5) !important;
  outline: none !important;
  box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.3) !important;
}

.legion .form-control-personality .btn-group .btn {
  border: 1px solid #262626 !important;
  box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.3) !important;
  background: none !important;
}

.legion .form-control-personality .dropdown-menu .text {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2) !important;
}

.legion .armies-wrapper {
  color: white;
}

.legion:not(.lobby-system-preview) .armies-wrapper {
  background: rgba(100, 0, 0, 0.5);
  border: 1px solid rgba(158, 0, 0, 0.25);
  box-shadow: inset 0px 0px 30px rgba(30, 0, 0, 0.5);
}
