/*legion theme skin*/
.legion .section_content {
    height: calc(100% - 190px) !important;
    background: rgba(15,0,0,0.3) !important;
    color: (white);
}

.legion .section_title { 
    height: 50px;
    padding: 5px 0px 0px 0px;
}

.legion .section_content .game_settings .section {
    color: white;
}

.legion .section_content .section_header {
    text-shadow: 0px 0px 15px rgba(255,0,0,.5); 
}

.legion .game_settings .section .form-control {
    background: none;
}

.legion .chat_container {
    border: 1px solid rgba(130,0,0,0.4);
}

.legion .section {
    border-top: 1px solid rgba(130,0,0,0.35);
}

.legion .div-system-picker {
    background: rgba(60,0,0,1);
    box-shadow: 0px 0px 10px rgba(255,0,0,0.2);
    border:1px solid rgba(158, 0, 0, 1);
}

.legion .nav-pills > li > a {
    border:1px solid rgba(158, 0, 0, 1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.3) !important;
}

.legion .nav-pills > li > a:hover {
    background: rgba(255, 0, 0, 0.85) !important;
    border:1px solid rgba(158, 0, 0, 1) !important;
    box-shadow: 0px 0px 20px rgba(255,0,0,0.8) !important;
}

.legion .nav-pills > li.active > a, .legion .nav-pills > li.active > a:focus {
    background: rgba(255,0,0,0.7) !important;
    border:1px solid rgba(158, 0, 0, 1) !important;
    box-shadow: 0px 0px 20px rgba(255,0,0,0.5) !important;
}

.legion .section_content_table {
    border-image: none;
}

.legion:not(.gLobbySystemPreview) .section_wrapper {
    margin: 2%;
    height: 96%;
    background: rgba(10,0,0,0.8);
    border-left: 15px solid rgba(10,0,0,0);
    border-right: 15px solid rgba(10,0,0,0);
    box-shadow: 0px 0px 40px rgba(15,0,0,1);
}

.legion .col_2 {
    margin: 10px 0px 10px 10px;
    padding: 22px 0px 0px 20px;
    border: 1px solid rgba(125,0,0,0.5);
    background: linear-gradient(rgba(80,0,0,0.3),rgba(80,0,0,0.15));
    box-shadow: 0px 0px 30px rgba(15, 0, 0, 0.8);
    display: block;
    height: 100%;
}

.legion:not(.gLobbySystemPreview) .armies-wrapper {
    overflow-x: hidden;
    border: 1px solid rgba(158,0,0,0.25);
    background: rgba(100,0,0,0.5);
    box-shadow: inset 0px 0px 30px rgba(30, 0, 0, 0.5);
    padding: 8px 0px 0px 8px;
    margin: 0px -10px -10px;
    color: white;
}

.legion .game_roster {
    border-image: none;
    max-width: calc(100% - 55px);
    max-height: calc(100% - 55px);    
}

.legion .roster_table {
    height: calc(100% + 12px);
}

.legion .section .section_header, .spectator_section_header {
    border-top: none !important;
    text-shadow: 0px 0px 10px rgba(255,0,0,0.5) !important;
}

.legion .container_embed.spectator {
    border: 1px solid rgba(158,0,0,0.5);
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.8);
    background: rgba(35,0,0,0.8);
    color: white !important;
}

.legion .spectator-item-contents {
    border: 1px solid rgba(158,0,0,0.5);
    background: rgba(70,0,0,1);
    box-shadow: inset 0px 0px 8px rgba(255,0,0, 0.4);
}

.legion .spectator-name {
    background: url('coui://ui/mods/com.pa.legion-expansion/img/players_list_panel/red/icon_visibility.png') left center no-repeat;
}

.legion .spectator-name.host {
    color: rgb(0,255,0);
    text-shadow: 0px 0px 20px rgba(0,255,0,0.8);
}

.legion .mods-class {
    border: 1px solid rgba(158,0,0,0.5);
    box-shadow: inset 0px 0px 15px rgba(15,0,0,0.8);
    background: rgba(70,0,0,1);
    margin: 0px 3px 0px 20px;
}

.legion .army-header {
    text-shadow: 0px 0px 10px rgba(255,0,0,0.5);
}

.legion .div-commander-picker-item.legioncommander .profile-commander-name {
    border-top: 1px solid rgba(255,0,0,0.3) !important;
}

.legion .div-commander-picker-cont > .dropdown-menu-cont {
    width: 622px !important;
}

.legion .div-color-picker {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
    border: none;
}

.legion .div-commander-picker {
    background: rgba(0,0,0,1);
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
    border: none;
    padding: 1px;
}

.legion .div-commander-picker-item {
    background: rgba(0,50,70,0.5) !important;
    border: 1px solid rgba(0,179,255,1) !important;
}

.legion .div-commander-picker-item.btn_std_ix {
    color: rgb(200,255,255) !important;
}

.legion .div-commander-picker-item.btn_std_ix:hover {
    background: rgba(0,179,255,0.75) !important;
    border: 1px solid rgba(0,179,255,0.1) !important;
    box-shadow: 0px 0px 15px rgba(0,179,255,0.8) !important;
}

.legion .legioncommander.btn_std_ix:hover {
    background: rgba(255,0,0,0.75) !important;
    border: 1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 15px rgba(255,0,0,0.8) !important;
}

.legion .div-commander-picker-item.btn_std_ix:active {
    background: rgba(0,179,255,1) !important;
    border:1px solid rgba(0,179, 255, 1) !important;
    box-shadow: 0px 0px 30px rgba(0,179,255,1) !important;
}

.legion .legioncommander.btn_std_ix:active {
    background: rgba(255,0,0,1) !important;
    border: 1px solid rgba(158, 0, 0, 1) !important;
    box-shadow: 0px 0px 30px rgba(255,0,0,1) !important;
}
    
.legion .btn_add_ai {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.legion .form-control-personality .btn-group .btn{
    border: 1px solid #262626 !important;
    box-shadow: inset 0px 0px 8px rgba(255,255,255,.3) !important;
    background: none !important;
}

.legion .form-control-personality .dropdown-menu .text {
    text-shadow: 0px 0px 15px rgba(255,255,255,.2) !important;
}

.legion .form-control-personality .dropdown-menu {
    background: rgba(70,70,70,1) !important;
    border: 1px solid #262626 !important;
}

.legion .form-control-personality .dropdown-menu > li > a:hover {
    background: rgba(100,100,100,1) !important;
    border: 1px solid rgba(50,50,50,0.5) !important;
    box-shadow: inset 0px 0px 8px rgba(255,255,255,.3) !important;
}

.legion .form-control-personality .dropdown-menu > li > a:focus {
    background: rgba(120,120,120,1) !important;
    border: 1px solid rgba(50,50,50,0.5) !important;
    outline: none !important;
    box-shadow: inset 0px 0px 8px rgba(255,255,255,.3) !important;
}

/*legion commander outlines*/

.div-commander-picker-item.btn_std_ix.legioncommander {
  color: rgb(255,220,220) !important;
  border-color: #FF0000 !important;
  background: rgba(70,0,0,0.5) !important;
}
.slot-player.legionslot {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/ctrl_user.png) 0 17 53 17 !important;
}
.slot-player.legionslot.ready {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/ctrl_user_locked.png) 0 17 53 17 !important;
}
.slot-player.legionslot.loading {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/ctrl_user_locked.png) 0 17 53 17 !important;
}

.slot-player.mlaslot {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/ctrl_user_mla.png) 0 17 53 17 !important;
}
.slot-player.mlaslot.ready {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/ctrl_user_locked_mla.png) 0 17 53 17 !important;
}
.slot-player.mlaslot.loading {
  border-image: url(coui://ui/mods/com.pa.legion-expansion/img/ctrl_user_locked_mla.png) 0 17 53 17 !important;
}

.slot-player-commander {
    border: 1px solid rgb(0,179,255) !important;
}

.legionslot .slot-player-commander {
    border: 1px solid #FF0000 !important;
}

.legionalert {
    margin: 0px 20px 0px 0px !important;
    display: inline-block !important;
    color: #FF0000 !important;
    text-shadow: 0px 0px 40px #F00 !important;
}

/* legion welcome */

#legion-welcome {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}

#legion-welcome-wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

#legion-welcome-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#legion-welcome-splash {
    max-width: 95%;
    max-height: 95%;
}

#legion-welcome-content {
    position: absolute;
    top: 60%;
    left: 15%;
    width: 70%;
    font-size: 22px;
}

#legion-welcome-links a {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

#legion-welcome-close {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 85%;
}