/* legion welcome */

#legion-welcome {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
}

#legion-welcome-container {
  background-image: url("coui://ui/mods/com.pa.legion-expansion/backgrounds/default.png");
  background-size: contain;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#legion-welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

#legion-welcome-logo {
  max-width: 960px;
}

#legion-welecome-message {
  margin-top: 50px;
}

#legion-welcome-links a {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
}

#legion-welcome-close {
  margin-top: 20px;
  text-transform: uppercase;
}
