/* legion welcome */

#legion-welcome {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

#legion-welcome-wrapper {
  width: 100%;
  height: 100%;
  display: table;
}

#legion-welcome-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#legion-welcome-splash {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0px 0px 25px rgba(30, 0, 0, 0.8);
}

#legion-welcome-content {
  position: absolute;
  top: 60%;
  left: 15%;
  width: 70%;
  font-size: 22px;
}

#legion-welcome-links a {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
}

#legion-welcome-close {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 85%;
}
